.lginf,
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 3em 0;
}
.lginf span {
  border: 1px solid var(--secondary-color);
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em;
  color: var(--secondary-color);
}
.aditem {
  cursor: pointer;
}
.aditem img {
  width: 100%;
}
.aditem span {
  display: block;
  font-weight: 900;
  font-size: 2em;
  text-transform: capitalize;
}
.aditem p {
  font-size: 0.8em;
}
